.sustainability .main {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
}
.sustainability .aboutUsSection {
    display: flex;
    flex-direction: column;
}
.sustainability .flexRowContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 26px auto 20px;
    width: 94.31%;
    max-width: 1358.0568847656px;
    padding: 0 8px 0 0;
}
@media (max-width: 383px) {
    .sustainability .flexRowContainer {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.sustainability .flexRowTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 742px;
    min-width: 0;
}
@media (max-width: 991px) {
    .sustainability .flexRowTop {
        width: auto;
    }
}
@media (max-width: 383px) {
    .sustainability .flexRowTop {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.sustainability .companyLogoImg {
    width: 32px;
    height: 52px;
    aspect-ratio: 0.62;
    cursor: pointer;
    -o-object-fit: contain;
    object-fit: contain;
}
.sustainability .flexRowNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 604px;
    min-width: 0;
}
@media (max-width: 991px) {
    .sustainability .flexRowNav {
        display: none;
    }
}
.sustainability .aboutText {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: box-shadow;
    padding: 8px;
}
@media (max-width: 991px) {
    .sustainability .aboutText {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .aboutText:hover {
    box-shadow: inset 0 0 0 1.5px #4e9f3d, 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
}
.sustainability .productText {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: box-shadow;
    padding: 8px;
}
@media (max-width: 991px) {
    .sustainability .productText {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .productText:hover {
    box-shadow: inset 0 0 0 1.5px #4e9f3d, 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
}
.sustainability .btnSustainability {
    display: flex;
    justify-content: center;
    min-width: 170px;
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: center;
    border-radius: 10px;
    padding: 7.5px 18px;
    outline: 2px solid #4e9f3d;
    outline-offset: -2px;
}
.sustainability .careerText {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: box-shadow;
    padding: 8px;
}
@media (max-width: 991px) {
    .sustainability .careerText {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .careerText:hover {
    box-shadow: inset 0 0 0 1.5px #4e9f3d, 0 0 1px rgba(0, 0, 0, 0);
    border-radius: 10px;
}
.sustainability .flexRowBottom {
    display: flex;
    gap: 0 23px;
    width: 432px;
    min-width: 0;
}
@media (max-width: 575px) {
    .sustainability .flexRowBottom {
        -moz-column-gap: 16px;
        column-gap: 16px;
    }
}
@media (max-width: 479px) {
    .sustainability .flexRowBottom {
        width: auto;
    }
}
@media (max-width: 383px) {
    .sustainability .flexRowBottom {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.sustainability .contentBoxContainer {
    position: relative;
    width: 315px;
    min-width: 0;
    min-height: 33px;
}
@media (max-width: 479px) {
    .sustainability .contentBoxContainer {
        display: none;
    }
}
.sustainability .contentBox {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 315px;
    border-radius: 16.5px;
    outline: 1px solid rgb(30, 30, 30);
    outline-offset: -1px;
    transform: translate(-50%, 0);
}
.sustainability .searchIconImg {
    margin: 0 0 0 auto;
    width: 39px;
    height: 33px;
    aspect-ratio: 1.18;
    -o-object-fit: cover;
    object-fit: cover;
}
.sustainability .searchText_box {
    position: absolute;
    top: 4px;
    left: 19px;
    width: 59px;
    height: 21px;
    opacity: 0.5;
}
@media (max-width: 991px) {
    .sustainability .searchText_box {
        align-items: flex-start;
    }
}
.sustainability .searchText {
    width: 100%;
    font: 400 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    background-color: transparent;
    border: 0;
    padding: 0;
    vertical-align: top;
}
@media (max-width: 991px) {
    .sustainability .searchText {
        font-size: 16px;
    }
}
.sustainability .searchText:focus {
    outline: none;
}
.sustainability .additionalImage {
    width: 94px;
    min-width: 0;
    height: 33px;
    -o-object-fit: cover;
    object-fit: cover;
}
.sustainability .environmentalSustainabilitySection {
    display: flex;
    flex-direction: column;
}
.sustainability .flexColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px 0;
    margin: 22px auto 8px;
    width: 98.33%;
    max-width: 1416px;
}
@media (max-width: 383px) {
    .sustainability .flexColumn {
        gap: 50px 0;
    }
}
.sustainability .contentBoxPrimary {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--src) center center/cover no-repeat;
}
.sustainability .rect15 {
    position: absolute;
    bottom: -4px;
    left: -65px;
    width: 1040px;
    height: 52px;
    background: var(--src) 50% center/cover no-repeat;
    border-radius: 0;
    outline-offset: -1.5px;
    outline-color: rgb(78, 159, 61);
    outline-style: none;
}
@media (max-width: 1399px) {
    .sustainability .rect15 {
        left: -44px;
    }
}
.sustainability .flex_row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 43px 45px 113px;
    width: 93.65%;
}
@media (max-width: 991px) {
    .sustainability .flex_row {
        flex-direction: column;
        gap: 30px 10px;
        margin: 43px 32px 113px;
    }
}
@media (max-width: 575px) {
    .sustainability .flex_row {
        margin: 43px 16px 80px;
    }
}
@media (max-width: 383px) {
    .sustainability .flex_row {
        margin: 43px 8px 50px;
    }
}
.sustainability .content_box5 {
    display: flex;
    flex-direction: column;
    width: 894px;
    min-width: 0;
    background: var(--src) center center/cover no-repeat;
}
@media (max-width: 991px) {
    .sustainability .content_box5 {
        width: 100%;
        min-width: unset;
    }
}
.sustainability .content_box4 {
    position: relative;
    margin: 29px 23px 7px 10px;
    min-height: 562px;
}
@media (max-width: 575px) {
    .sustainability .content_box4 {
        margin: 29px 16px 7px 10px;
    }
}
@media (max-width: 383px) {
    .sustainability .content_box4 {
        margin: 29px 8px 7px;
    }
}
.sustainability .flex_col {
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 73px 0;
    width: 567px;
    transform: translate(0, -50%);
}
@media (max-width: 383px) {
    .sustainability .flex_col {
        gap: 50px 0;
    }
}
.sustainability .flexColumnTwo {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
    margin: 0 0 0 12px;
}
@media (max-width: 383px) {
    .sustainability .flexColumnTwo {
        margin: 0 0 0 8px;
    }
}
.sustainability .flexColumnThree {
    display: flex;
    flex-direction: column;
    gap: 26px 0;
}
.sustainability .environmentalCommitmentTitle {
    font: 700 64px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
}
@media (max-width: 991px) {
    .sustainability .environmentalCommitmentTitle {
        align-items: flex-start;
        font-size: 52px;
    }
}
@media (max-width: 479px) {
    .sustainability .environmentalCommitmentTitle {
        font-size: 36px;
    }
}
.sustainability .commitmentHighlightText {
    width: 448.9886474609px;
    max-width: 85%;
    font: 400 15px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: justify;
}
.sustainability .readMoreButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 10px;
    width: 186px;
    max-width: 100%;
    font: 700 17px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: center;
    background-color: rgb(255, 225, 68);
    border-radius: 5px;
    padding: 2.5px 36px;
}
.sustainability .content_box {
    display: flex;
    flex-direction: column;
    width: 168px;
    max-width: 85%;
    background-color: rgba(217, 217, 217, 0.098);
    border-radius: 20px;
    outline: 2px solid rgb(250, 250, 250);
    outline-offset: -2px;
}
.sustainability .reportSubtitle {
    display: flex;
    justify-content: center;
    margin: 85px 38px 12px 37px;
    font: 600 20px/1.17 "Work Sans", Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
@media (max-width: 991px) {
    .sustainability .reportSubtitle {
        align-items: flex-start;
        margin: 85px 32px 12px;
        font-size: 18px;
    }
}
@media (max-width: 575px) {
    .sustainability .reportSubtitle {
        margin: 80px 16px 12px;
    }
}
@media (max-width: 479px) {
    .sustainability .reportSubtitle {
        margin: 80px auto 12px;
        font-size: 16px;
    }
}
@media (max-width: 383px) {
    .sustainability .reportSubtitle {
        margin: 50px auto 12px;
    }
}
.sustainability .group {
    position: absolute;
    top: 141px;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 352px;
}
.sustainability .flex_row1 {
    position: absolute;
    top: 8px;
    left: 10.9772338867px;
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 325px;
}
@media (max-width: 383px) {
    .sustainability .flex_row1 {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.sustainability .flex_col1 {
    display: flex;
    flex-direction: column;
    gap: 122px 0;
    margin: 0 0 26px;
    width: 86px;
    min-width: 0;
}
@media (max-width: 575px) {
    .sustainability .flex_col1 {
        gap: 80px 0;
    }
}
@media (max-width: 383px) {
    .sustainability .flex_col1 {
        gap: 50px 0;
    }
}
.sustainability .flex_col2 {
    display: flex;
    flex-direction: column;
    gap: 53px 0;
    margin: 0 18px 0 0;
}
@media (max-width: 575px) {
    .sustainability .flex_col2 {
        margin: 0 16px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .flex_col2 {
        gap: 50px 0;
        margin: 0 8px 0 0;
    }
}
.sustainability .sustainabilityStatsTitle {
    font: 700 40px/1.14 Play, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 991px) {
    .sustainability .sustainabilityStatsTitle {
        align-items: flex-start;
        font-size: 36px;
    }
}
@media (max-width: 479px) {
    .sustainability .sustainabilityStatsTitle {
        font-size: 32px;
    }
}
.sustainability .sustainabilityImageOne {
    margin: 0 35px 0 5px;
    width: 28px;
    height: 28px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 991px) {
    .sustainability .sustainabilityImageOne {
        margin: 0 32px 0 5px;
    }
}
@media (max-width: 575px) {
    .sustainability .sustainabilityImageOne {
        margin: 0 16px 0 5px;
    }
}
@media (max-width: 383px) {
    .sustainability .sustainabilityImageOne {
        margin: 0 8px 0 5px;
    }
}
.sustainability .flex_col3 {
    display: flex;
    flex-direction: column;
    gap: 46px 0;
    margin: 0 0 0 5px;
}
.sustainability .sustainabilityImpactTitle {
    font: 700 40px/1.14 Play, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 991px) {
    .sustainability .sustainabilityImpactTitle {
        align-items: flex-start;
        font-size: 36px;
    }
}
@media (max-width: 479px) {
    .sustainability .sustainabilityImpactTitle {
        font-size: 32px;
    }
}
.sustainability .sustainabilityPercentImage {
    width: 31px;
    height: 31px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.sustainability .flex_col4 {
    display: flex;
    flex-direction: column;
    gap: 35px 0;
    margin: 143px 0 0;
    width: 102px;
    min-width: 0;
}
@media (max-width: 575px) {
    .sustainability .flex_col4 {
        margin: 80px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .flex_col4 {
        margin: 50px 0 0;
    }
}
.sustainability .flex_col5 {
    display: flex;
    flex-direction: column;
    gap: 44px 0;
    margin: 0 0 0 21px;
}
@media (max-width: 575px) {
    .sustainability .flex_col5 {
        margin: 0 0 0 16px;
    }
}
@media (max-width: 383px) {
    .sustainability .flex_col5 {
        margin: 0 0 0 8px;
    }
}
.sustainability .hero_title2 {
    font: 700 40px/1.14 Play, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 991px) {
    .sustainability .hero_title2 {
        align-items: flex-start;
        font-size: 36px;
    }
}
@media (max-width: 479px) {
    .sustainability .hero_title2 {
        font-size: 32px;
    }
}
.sustainability .sustainabilityImageDetail {
    margin: 0 0 0 auto;
    width: 31px;
    height: 31px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
.sustainability .image1 {
    margin: 0 5px 0 0;
    width: 95.1%;
    height: 99px;
    aspect-ratio: 0.98;
    -o-object-fit: cover;
    object-fit: cover;
}
.sustainability .coverImage {
    position: relative;
    width: 100%;
    aspect-ratio: 0.89;
    -o-object-fit: cover;
    object-fit: cover;
}
.sustainability .flexRowTwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    width: 370px;
    min-width: 0;
}
@media (max-width: 991px) {
    .sustainability .flexRowTwo {
        width: 100%;
        min-width: unset;
    }
}
@media (max-width: 479px) {
    .sustainability .flexRowTwo {
        flex-direction: column;
        gap: 30px 10px;
    }
}
.sustainability .flex_col6 {
    display: flex;
    flex-direction: column;
    gap: 33px 0;
    width: 213px;
    min-width: 0;
}
@media (max-width: 479px) {
    .sustainability .flex_col6 {
        width: 100%;
        min-width: unset;
    }
}
.sustainability .contentBoxSecondary {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    border-radius: 20px;
}
.sustainability .flex_col7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px 0;
    margin: 8px 9px 11.5px 10px;
}
@media (max-width: 383px) {
    .sustainability .flex_col7 {
        margin: 8px 8px 11.5px;
    }
}
.sustainability .contentBoxHighlight {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: var(--src) center center/cover no-repeat;
}
.sustainability .image29 {
    margin: 13px 9px 235px auto;
    width: 39px;
    height: 39px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 991px) {
    .sustainability .image29 {
        margin: 13px 9px 150px auto;
    }
}
@media (max-width: 575px) {
    .sustainability .image29 {
        margin: 13px 9px 80px auto;
    }
}
@media (max-width: 383px) {
    .sustainability .image29 {
        margin: 13px 8px 50px auto;
    }
}
.sustainability .natureFutureHighlightText {
    display: flex;
    align-items: center;
    width: 92.78%;
    font: 400 15px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
}
.sustainability .content_box1 {
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--src) center center/cover no-repeat;
}
.sustainability .futureOfFarmingTitle {
    position: absolute;
    top: 56.5px;
    right: -128.9545288086px;
    display: flex;
    align-items: center;
    width: 249px;
    height: 167px;
    font: 700 48px/1.15 Play, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
}
@media (max-width: 991px) {
    .sustainability .futureOfFarmingTitle {
        font-size: 44px;
    }
}
@media (max-width: 479px) {
    .sustainability .futureOfFarmingTitle {
        font-size: 36px;
    }
}
.sustainability .rect12 {
    position: relative;
    margin: 198px 0 18px 22px;
    width: 15px;
    max-width: 85%;
    min-height: 15px;
    background-color: rgb(250, 250, 250);
    border-radius: 8px;
}
@media (max-width: 991px) {
    .sustainability .rect12 {
        margin: 150px 0 18px 22px;
    }
}
@media (max-width: 575px) {
    .sustainability .rect12 {
        margin: 80px 0 18px 16px;
    }
}
@media (max-width: 383px) {
    .sustainability .rect12 {
        margin: 50px 0 18px 8px;
    }
}
.sustainability .flex_row2 {
    display: flex;
    gap: 0 17px;
    width: 108px;
    min-width: 0;
}
@media (max-width: 575px) {
    .sustainability .flex_row2 {
        -moz-column-gap: 16px;
        column-gap: 16px;
    }
}
@media (max-width: 479px) {
    .sustainability .flex_row2 {
        width: 100%;
        min-width: unset;
    }
}
@media (max-width: 383px) {
    .sustainability .flex_row2 {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.sustainability .group1 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 105px 0 458px;
    width: 89px;
    min-width: 0;
}
@media (max-width: 991px) {
    .sustainability .group1 {
        margin: 105px 0 150px;
    }
}
@media (max-width: 575px) {
    .sustainability .group1 {
        margin: 80px 0;
    }
}
@media (max-width: 383px) {
    .sustainability .group1 {
        margin: 50px 0;
    }
}
.sustainability .hero_title21 {
    position: relative;
    display: flex;
    justify-content: center;
    font: 700 40px/1.14 Play, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
    text-align: center;
}
@media (max-width: 991px) {
    .sustainability .hero_title21 {
        align-items: flex-start;
        font-size: 36px;
    }
}
@media (max-width: 479px) {
    .sustainability .hero_title21 {
        font-size: 32px;
    }
}
.sustainability .rect10 {
    position: absolute;
    top: 0;
    left: 45.9544677734px;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    outline: 2px solid rgb(250, 250, 250);
    outline-offset: -2px;
}
.sustainability .flex_col8 {
    display: flex;
    flex-direction: column;
    gap: 46px 0;
    width: 2px;
}
.sustainability .image26 {
    width: 2px;
    height: 105px;
    aspect-ratio: 0.02;
    -o-object-fit: cover;
    object-fit: cover;
}
.sustainability .image25 {
    width: 100%;
    aspect-ratio: 0;
    -o-object-fit: cover;
    object-fit: cover;
}
.sustainability .flex_row3 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    width: 93.86%;
}
@media (max-width: 383px) {
    .sustainability .flex_row3 {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.sustainability .sustainabilityAchievementTitle {
    font: 700 40px/1.25 Montserrat, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
}
@media (max-width: 991px) {
    .sustainability .sustainabilityAchievementTitle {
        align-items: flex-start;
        font-size: 36px;
    }
}
@media (max-width: 479px) {
    .sustainability .sustainabilityAchievementTitle {
        font-size: 32px;
    }
}
.sustainability .yearHighlightText {
    margin: 19px 0 14px;
    font: 300 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: justify;
}
.sustainability .sustainabilityImpactSection {
    display: flex;
    flex-direction: column;
}
.sustainability .flexRowDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 9px auto 123px;
    width: 95.97%;
    max-width: 1382px;
    padding: 0 115px 0 0;
}
@media (max-width: 991px) {
    .sustainability .flexRowDiv {
        flex-direction: column;
        gap: 30px 10px;
        padding: 0 32px 0 0;
    }
}
@media (max-width: 575px) {
    .sustainability .flexRowDiv {
        margin: 9px auto 80px;
        padding: 0 16px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .flexRowDiv {
        margin: 9px auto 50px;
        padding: 0 8px 0 0;
    }
}
.sustainability .waterUsageImage {
    width: 770px;
    min-width: 0;
    aspect-ratio: 1.26;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 991px) {
    .sustainability .waterUsageImage {
        width: 100%;
        min-width: unset;
        max-width: 770px;
    }
}
.sustainability .flexColDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 58px 0;
    width: 348px;
    min-width: 0;
}
@media (max-width: 991px) {
    .sustainability .flexColDiv {
        width: 100%;
        min-width: unset;
    }
}
@media (max-width: 383px) {
    .sustainability .flexColDiv {
        gap: 50px 0;
    }
}
.sustainability .waterUsageGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 96.55%;
}
.sustainability .waterUsageTitle_box {
    position: relative;
}
@media (max-width: 991px) {
    .sustainability .waterUsageTitle_box {
        align-items: flex-start;
    }
}
.sustainability .waterUsageTitle {
    font: 700 24px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
@media (max-width: 991px) {
    .sustainability .waterUsageTitle {
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .sustainability .waterUsageTitle {
        font-size: 20px;
    }
}
.sustainability .waterUsageTitle_span0 {
    font: 700 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .waterUsageTitle_span1 {
    font: 700 0.8333333333em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .waterUsageTitle_span2 {
    font: 0.625em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .waterUsageTitle_span3 {
    font: 700 0.625em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .waterUsageTitle_span4 {
    font: 0.625em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .image36 {
    position: absolute;
    top: 4px;
    right: -4.0227050781px;
    width: 14px;
    height: 19px;
    aspect-ratio: 0.74;
}
.sustainability .fertilizerEfficiencyGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 97.7%;
}
.sustainability .fertilizerEfficiencyTitle_box {
    position: relative;
}
@media (max-width: 991px) {
    .sustainability .fertilizerEfficiencyTitle_box {
        align-items: flex-start;
    }
}
.sustainability .fertilizerEfficiencyTitle {
    font: 700 24px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
@media (max-width: 991px) {
    .sustainability .fertilizerEfficiencyTitle {
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .sustainability .fertilizerEfficiencyTitle {
        font-size: 20px;
    }
}
.sustainability .fertilizerEfficiencyTitle_span0 {
    font: 700 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .fertilizerEfficiencyTitle_span1 {
    font: 700 0.8333333333em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .fertilizerEfficiencyTitle_span2 {
    font: 0.625em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .fertilizerEfficiencyTitle_span3 {
    font: 700 0.625em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .image38 {
    position: absolute;
    top: 9px;
    right: -8.0227050781px;
    width: 19px;
    height: 14px;
    aspect-ratio: 1.36;
}
.sustainability .trainingGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 98.85%;
}
.sustainability .farmerTrainingTitle_box {
    position: relative;
}
@media (max-width: 991px) {
    .sustainability .farmerTrainingTitle_box {
        align-items: flex-start;
    }
}
.sustainability .farmerTrainingTitle {
    font: 700 24px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
@media (max-width: 991px) {
    .sustainability .farmerTrainingTitle {
        font-size: 22px;
    }
}
@media (max-width: 479px) {
    .sustainability .farmerTrainingTitle {
        font-size: 20px;
    }
}
.sustainability .farmerTrainingTitle_span0 {
    font: 700 1em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .farmerTrainingTitle_span1 {
    font: 700 0.8333333333em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .farmerTrainingTitle_span2 {
    font: 0.625em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .farmerTrainingTitle_span3 {
    font: 700 0.625em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .farmerTrainingTitle_span4 {
    font: 0.625em/1.14 Ubuntu, Helvetica, Arial, serif;
}
.sustainability .image37 {
    position: absolute;
    top: 7px;
    right: 0;
    width: 19px;
    height: 16px;
    aspect-ratio: 1.19;
}
.sustainability .howItWorksSection {
    display: flex;
    flex-direction: column;
}
.sustainability .flexRowPrimary {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 71px auto 151px;
    width: 90.14%;
    max-width: 1298.0113525391px;
    padding: 0 37px 0 0;
}
@media (max-width: 991px) {
    .sustainability .flexRowPrimary {
        flex-direction: column;
        align-items: center;
        gap: 30px 10px;
        margin: 71px auto 150px;
        padding: 0 32px 0 0;
    }
}
@media (max-width: 575px) {
    .sustainability .flexRowPrimary {
        margin: 71px auto 80px;
        padding: 0 16px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .flexRowPrimary {
        margin: 50px auto;
        padding: 0 8px 0 0;
    }
}
.sustainability .flexColPrimary {
    display: flex;
    flex-direction: column;
    gap: 82px 0;
    width: 848px;
    min-width: 0;
}
@media (max-width: 991px) {
    .sustainability .flexColPrimary {
        width: 100%;
        min-width: unset;
    }
}
@media (max-width: 575px) {
    .sustainability .flexColPrimary {
        gap: 80px 0;
    }
}
@media (max-width: 383px) {
    .sustainability .flexColPrimary {
        gap: 50px 0;
    }
}
.sustainability .heroTitle {
    font: 700 48px/1.16 Play, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
}
@media (max-width: 991px) {
    .sustainability .heroTitle {
        align-items: flex-start;
        font-size: 44px;
    }
}
@media (max-width: 479px) {
    .sustainability .heroTitle {
        font-size: 36px;
    }
}
.sustainability .flexRowSecondary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0 10px;
    margin: 0 0 0 1px;
}
@media (max-width: 767px) {
    .sustainability .flexRowSecondary {
        flex-direction: column;
        gap: 30px 10px;
    }
}
.sustainability .flexColFirstContentBox {
    display: flex;
    flex-direction: column;
    gap: 41px 0;
    width: 393px;
    min-width: 0;
}
@media (max-width: 767px) {
    .sustainability .flexColFirstContentBox {
        width: 100%;
        min-width: unset;
    }
}
.sustainability .flexColSecondary {
    display: flex;
    flex-direction: column;
    gap: 23px 0;
}
.sustainability .contentBoxIoT {
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 159, 61);
    border-radius: 5px;
}
.sustainability .highlightIoT {
    display: flex;
    justify-content: center;
    margin: 10px 37px 9px;
    font: 700 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
}
@media (max-width: 991px) {
    .sustainability .highlightIoT {
        margin: 10px 32px 9px;
    }
}
@media (max-width: 575px) {
    .sustainability .highlightIoT {
        margin: 10px 16px 9px;
    }
}
@media (max-width: 383px) {
    .sustainability .highlightIoT {
        margin: 10px 8px 9px;
    }
}
.sustainability .descriptionIoT {
    font: 400 15px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
.sustainability .flexColDataAnalysis {
    display: flex;
    flex-direction: column;
    gap: 23px 0;
}
.sustainability .contentBoxDataAnalysis {
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 159, 61);
    border-radius: 5px;
}
.sustainability .highlightDataAnalysis {
    display: flex;
    justify-content: center;
    margin: 10px 39px 9px;
    font: 700 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
}
@media (max-width: 991px) {
    .sustainability .highlightDataAnalysis {
        margin: 10px 32px 9px;
    }
}
@media (max-width: 575px) {
    .sustainability .highlightDataAnalysis {
        margin: 10px 16px 9px;
    }
}
@media (max-width: 383px) {
    .sustainability .highlightDataAnalysis {
        margin: 10px 8px 9px;
    }
}
.sustainability .descriptionDataAnalysis {
    font: 400 15px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
.sustainability .flexColEmissionReduction {
    display: flex;
    flex-direction: column;
    gap: 58px 0;
    width: 345px;
    min-width: 0;
}
@media (max-width: 767px) {
    .sustainability .flexColEmissionReduction {
        width: 100%;
        min-width: unset;
    }
}
@media (max-width: 383px) {
    .sustainability .flexColEmissionReduction {
        gap: 50px 0;
    }
}
.sustainability .flexColEducation {
    display: flex;
    flex-direction: column;
    gap: 23px 0;
}
.sustainability .contentBoxEmissionReduction {
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 159, 61);
    border-radius: 5px;
}
.sustainability .highlightEmissionReduction {
    display: flex;
    justify-content: center;
    margin: 10px auto 9px;
    font: 700 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
}
.sustainability .descriptionEmissionReduction {
    font: 400 15px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
.sustainability .flex_col9 {
    display: flex;
    flex-direction: column;
    gap: 23px 0;
}
.sustainability .contentBoxFarmerEducation {
    display: flex;
    flex-direction: column;
    background-color: rgb(78, 159, 61);
    border-radius: 5px;
}
.sustainability .highlightFarmerEducation {
    display: flex;
    justify-content: center;
    margin: 10px auto 9px;
    font: 700 16px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
}
.sustainability .descriptionFarmerEducation {
    font: 400 15px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: justify;
}
.sustainability .flexRowImageContent {
    display: flex;
    gap: 0 3px;
    margin: 0 0 119px;
    width: 308px;
    min-width: 0;
}
@media (max-width: 991px) {
    .sustainability .flexRowImageContent {
        margin: 0;
        width: 100%;
        min-width: unset;
    }
}
.sustainability .imageGroup {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 281px;
    min-width: 0;
}
.sustainability .researchImage2024 {
    position: relative;
    width: 100%;
    min-width: 0;
    aspect-ratio: 0.76;
    filter: blur(2px);
    -o-object-fit: cover;
    object-fit: cover;
}
.sustainability .contentBoxResearch2024 {
    position: absolute;
    top: 56px;
    left: 55px;
    display: flex;
    flex-direction: column;
    width: 265px;
    background: var(--src) center center/100% 100% no-repeat;
}
.sustainability .highlightResearch2024 {
    display: flex;
    align-items: center;
    margin: 402.5px 9px 11.5px auto;
    width: 108px;
    max-width: 85%;
    font: 400 15px/1.14 Ubuntu, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 991px) {
    .sustainability .highlightResearch2024 {
        margin: 150px 9px 11.5px auto;
    }
}
@media (max-width: 575px) {
    .sustainability .highlightResearch2024 {
        margin: 80px 9px 11.5px auto;
    }
}
@media (max-width: 383px) {
    .sustainability .highlightResearch2024 {
        margin: 50px 8px 11.5px auto;
    }
}
.sustainability .additionalResearchImage {
    margin: 10px 0 337px;
    width: 24px;
    height: 24px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
}
@media (max-width: 991px) {
    .sustainability .additionalResearchImage {
        margin: 10px 0 150px;
    }
}
@media (max-width: 575px) {
    .sustainability .additionalResearchImage {
        margin: 10px 0 80px;
    }
}
@media (max-width: 383px) {
    .sustainability .additionalResearchImage {
        margin: 10px 0 50px;
    }
}
.sustainability .achievementsSection {
    display: flex;
    flex-direction: column;
}
.sustainability .achievementHighlightDiv {
    display: flex;
    flex-direction: column;
    margin: 114px auto 110px;
    width: 100%;
    max-width: 1440px;
    background: var(--src) center center/cover no-repeat;
}
@media (max-width: 575px) {
    .sustainability .achievementHighlightDiv {
        margin: 80px auto;
    }
}
@media (max-width: 383px) {
    .sustainability .achievementHighlightDiv {
        margin: 50px auto;
    }
}
.sustainability .flexColumnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px 0;
    margin: 52px auto 51px;
    width: 615px;
    max-width: 85%;
}
@media (max-width: 383px) {
    .sustainability .flexColumnDiv {
        margin: 50px auto;
    }
}
.sustainability .achievementsSubtitle {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 300 20px/1.17 "Work Sans", Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
    text-align: center;
}
@media (max-width: 991px) {
    .sustainability .achievementsSubtitle {
        align-items: flex-start;
        font-size: 18px;
    }
}
@media (max-width: 479px) {
    .sustainability .achievementsSubtitle {
        font-size: 16px;
    }
}
.sustainability .supportButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 160px;
    max-width: 100%;
    font: 500 17px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
    background-color: rgb(78, 159, 61);
    border-radius: 10px;
    padding: 5.5px 8px;
}
.sustainability .contactUsSection {
    display: flex;
    flex-direction: column;
    gap: 57px 0;
}
@media (max-width: 383px) {
    .sustainability .contactUsSection {
        gap: 50px 0;
    }
}
.sustainability .contentBox1 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    background-color: rgb(30, 30, 30);
    border-radius: 20px;
}
.sustainability .dividerLine {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 1386px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: translate(-50%, 0);
}
.sustainability .flexColumn1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 78px 0;
    margin: 34px 46px 20px 27px;
    width: 94.93%;
}
@media (max-width: 1199px) {
    .sustainability .flexColumn1 {
        margin: 34px auto 20px;
    }
}
@media (max-width: 383px) {
    .sustainability .flexColumn1 {
        gap: 50px 0;
    }
}
.sustainability .flexRow {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
}
@media (max-width: 1199px) {
    .sustainability .flexRow {
        flex-direction: column;
        align-items: center;
        gap: 30px 10px;
    }
}
.sustainability .flexColumn11 {
    display: flex;
    flex-direction: column;
    gap: 28px 0;
    margin: 0 0 91px;
    width: 202px;
    min-width: 0;
}
@media (max-width: 1199px) {
    .sustainability .flexColumn11 {
        margin: 0;
        width: 100%;
        min-width: unset;
    }
}
.sustainability .followContactText {
    margin: 0 29px 0 3px;
    font: 400 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 991px) {
    .sustainability .followContactText {
        align-items: flex-start;
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .sustainability .followContactText {
        margin: 0 16px 0 3px;
    }
}
@media (max-width: 383px) {
    .sustainability .followContactText {
        margin: 0 8px 0 3px;
    }
}
.sustainability .flexRow1 {
    display: flex;
    gap: 0 19px;
}
@media (max-width: 575px) {
    .sustainability .flexRow1 {
        -moz-column-gap: 16px;
        column-gap: 16px;
    }
}
@media (max-width: 383px) {
    .sustainability .flexRow1 {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.sustainability .companyImage1 {
    margin: 0 0 1px;
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 0.3s;
    transition-property: transform;
}
.sustainability .companyImage1:hover {
    transform: scale(1.1);
}
.sustainability .companyImage2 {
    margin: 0 0 1px;
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 0.3s;
    transition-property: transform;
}
.sustainability .companyImage2:hover {
    transform: scale(1.1);
}
.sustainability .companyImage3 {
    margin: 0 0 1px;
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 0.3s;
    transition-property: transform;
}
.sustainability .companyImage3:hover {
    transform: scale(1.1);
}
.sustainability .companyImage4 {
    margin: 0 0 1px;
    width: 25px;
    height: 25px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 0.3s;
    transition-property: transform;
}
.sustainability .companyImage4:hover {
    transform: scale(1.1);
}
.sustainability .companyImage5 {
    width: 26px;
    height: 26px;
    aspect-ratio: 1;
    -o-object-fit: cover;
    object-fit: cover;
    transition-duration: 0.3s;
    transition-property: transform;
}
.sustainability .companyImage5:hover {
    transform: scale(1.1);
}
.sustainability .flexRow2 {
    display: flex;
    justify-content: space-between;
    gap: 0 10px;
    margin: 3px 0 0;
    width: 800px;
    min-width: 0;
}
@media (max-width: 1199px) {
    .sustainability .flexRow2 {
        margin: 0;
        width: 100%;
        min-width: unset;
    }
}
@media (max-width: 479px) {
    .sustainability .flexRow2 {
        flex-direction: column;
        align-items: center;
        gap: 30px 10px;
    }
}
.sustainability .flexColumn2 {
    display: flex;
    flex-direction: column;
    gap: 14px 0;
    width: 121px;
    min-width: 0;
}
@media (max-width: 479px) {
    .sustainability .flexColumn2 {
        width: 100%;
        min-width: unset;
    }
}
.sustainability .categoryTitle {
    margin: 0 31px 0 0;
    font: 600 19px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 991px) {
    .sustainability .categoryTitle {
        align-items: flex-start;
        font-size: 18px;
    }
}
@media (max-width: 575px) {
    .sustainability .categoryTitle {
        margin: 0 16px 0 0;
    }
}
@media (max-width: 479px) {
    .sustainability .categoryTitle {
        font-size: 16px;
    }
}
@media (max-width: 383px) {
    .sustainability .categoryTitle {
        margin: 0 8px 0 0;
    }
}
.sustainability .categoryAgriculture {
    margin: 0 21px 0 0;
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .categoryAgriculture {
        align-items: flex-start;
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .sustainability .categoryAgriculture {
        margin: 0 16px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .categoryAgriculture {
        margin: 0 8px 0 0;
    }
}
.sustainability .categoryInfrastructure {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .categoryInfrastructure {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .categoryTechnology {
    margin: 0 19px 0 0;
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .categoryTechnology {
        align-items: flex-start;
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .sustainability .categoryTechnology {
        margin: 0 16px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .categoryTechnology {
        margin: 0 8px 0 0;
    }
}
.sustainability .categoryEducation {
    margin: 0 31px 0 0;
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .categoryEducation {
        align-items: flex-start;
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .sustainability .categoryEducation {
        margin: 0 16px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .categoryEducation {
        margin: 0 8px 0 0;
    }
}
.sustainability .flexColumn3 {
    display: flex;
    flex-direction: column;
    gap: 14px 0;
    width: 109px;
    min-width: 0;
}
@media (max-width: 479px) {
    .sustainability .flexColumn3 {
        width: 100%;
        min-width: unset;
    }
}
.sustainability .companyText {
    margin: 0 15px 0 0;
    font: 600 19px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 991px) {
    .sustainability .companyText {
        align-items: flex-start;
        font-size: 18px;
    }
}
@media (max-width: 479px) {
    .sustainability .companyText {
        font-size: 16px;
    }
}
@media (max-width: 383px) {
    .sustainability .companyText {
        margin: 0 8px 0 0;
    }
}
.sustainability .aboutLink {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .aboutLink {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .productLink {
    margin: 0 38px 0 0;
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .productLink {
        align-items: flex-start;
        margin: 0 32px 0 0;
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .sustainability .productLink {
        margin: 0 16px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .productLink {
        margin: 0 8px 0 0;
    }
}
.sustainability .sustainabilityLink {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .sustainabilityLink {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .careerLink {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .careerLink {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .flexColumn4 {
    display: flex;
    flex-direction: column;
    gap: 14px 0;
    margin: 0 0 70px;
    width: 135px;
    min-width: 0;
}
@media (max-width: 479px) {
    .sustainability .flexColumn4 {
        margin: 0;
        width: 100%;
        min-width: unset;
    }
}
.sustainability .supportLink {
    font: 600 19px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 991px) {
    .sustainability .supportLink {
        align-items: flex-start;
        font-size: 18px;
    }
}
@media (max-width: 479px) {
    .sustainability .supportLink {
        font-size: 16px;
    }
}
.sustainability .contactUsLink {
    margin: 0 38px 0 0;
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .contactUsLink {
        align-items: flex-start;
        margin: 0 32px 0 0;
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .sustainability .contactUsLink {
        margin: 0 16px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .contactUsLink {
        margin: 0 8px 0 0;
    }
}
.sustainability .supportCenterLink {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .supportCenterLink {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .flexColumn5 {
    display: flex;
    flex-direction: column;
    gap: 14px 0;
    margin: 0 0 35px;
    width: 153px;
    min-width: 0;
}
@media (max-width: 479px) {
    .sustainability .flexColumn5 {
        margin: 0;
        width: 100%;
        min-width: unset;
    }
}
.sustainability .legalsLink {
    font: 600 19px/1.21 Montserrat, Helvetica, Arial, serif;
    color: rgb(255, 255, 255);
}
@media (max-width: 991px) {
    .sustainability .legalsLink {
        align-items: flex-start;
        font-size: 18px;
    }
}
@media (max-width: 479px) {
    .sustainability .legalsLink {
        font-size: 16px;
    }
}
.sustainability .fAQLink {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .fAQLink {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .privacyPolicyLink {
    margin: 0 31px 0 0;
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .privacyPolicyLink {
        align-items: flex-start;
        font-size: 16px;
    }
}
@media (max-width: 575px) {
    .sustainability .privacyPolicyLink {
        margin: 0 16px 0 0;
    }
}
@media (max-width: 383px) {
    .sustainability .privacyPolicyLink {
        margin: 0 8px 0 0;
    }
}
.sustainability .termsConditionLink {
    font: 600 17px/1.23 Montserrat, Helvetica, Arial, serif;
    color: rgb(173, 173, 173);
}
@media (max-width: 991px) {
    .sustainability .termsConditionLink {
        align-items: flex-start;
        font-size: 16px;
    }
}
.sustainability .copyrightNotice {
    font: 400 16px/1.6 Play, Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
}
.sustainability .contentBox11 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    background-color: rgb(250, 250, 250);
}
.sustainability .flexRow3 {
    display: flex;
    gap: 0 17px;
    margin: 12px auto;
    width: 858px;
    max-width: 85%;
}
@media (max-width: 1199px) {
    .sustainability .flexRow3 {
        flex-direction: column;
        align-items: center;
        gap: 30px 17px;
    }
}
.sustainability .cookieConsentMessage {
    font: 400 16px/1.6 Play, Helvetica, Arial, serif;
    color: rgb(0, 0, 0);
}
@media (max-width: 1199px) {
    .sustainability .cookieConsentMessage {
        width: 100%;
    }
}
.sustainability .flexRow4 {
    display: flex;
    gap: 0 9px;
    width: 202px;
    min-width: 0;
}
@media (max-width: 1199px) {
    .sustainability .flexRow4 {
        width: 100%;
        min-width: unset;
    }
}
@media (max-width: 383px) {
    .sustainability .flexRow4 {
        -moz-column-gap: 8px;
        column-gap: 8px;
    }
}
.sustainability .customizeButton {
    display: flex;
    justify-content: center;
    min-width: 109px;
    font: 500 14px/1.17 "Work Sans", Helvetica, Arial, serif;
    color: rgb(30, 30, 30);
    text-align: center;
    border-radius: 13px;
    padding: 5px 12px;
    outline: 1px solid rgb(78, 159, 61);
    outline-offset: -1px;
}
.sustainability .acceptButton {
    display: flex;
    justify-content: center;
    min-width: 84px;
    font: 500 14px/1.17 "Work Sans", Helvetica, Arial, serif;
    color: rgb(250, 250, 250);
    text-align: center;
    background-color: rgb(78, 159, 61);
    border-radius: 13px;
    padding: 5px 14px;
}
